# IDEs and editors
.vscode/

# Python caches and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# System files
.DS_Store

# Virtual environments
venv/

# Large files
path/to/bigfile.zip
